<!DOCTYPE html>
<!--[if lte IE 7]><html id="ie" class="no-js lt-ie10 lt-ie9 lt-ie8" lang="en" xmlns="http://www.w3.org/1999/xhtml"><![endif]-->
<!--[if IE 8]><html id="ie8" class="no-js lt-ie10 lt-ie9" lang="en" xmlns="http://www.w3.org/1999/xhtml"><![endif]-->
<!--[if IE 9]><html id="ie9" class="no-js lt-ie10" lang="en" xmlns="http://www.w3.org/1999/xhtml"><![endif]-->
<!--[if gt IE 9]><!--><html lang="en" class="no-js" xmlns="http://www.w3.org/1999/xhtml"><!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<link rel="dns-prefetch" href="//ajax.googleapis.com">
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta name="format-detection" content="telephone=no"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="../css/site.css" />
	<link rel="icon" href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII="/>
	<link rel="apple-touch-icon" href="/design/images/apple-touch-icon.png"/>
	<link href="https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre|Raleway" rel="stylesheet">
	<!--[if lt IE 9]>
		<script src="http://c621ndxflappf.int.thomsonreuters.com:8034/includes/scripts/html5Shiv-3.6.2.js"></script>
	<![endif]-->
	<!-- <#assign SEMFirmNameAlt = " - ${site.data.SEMFirmNameAlt}">
    <#if site.data.SEMFirmNameAlt = "">
        <#assign SEMFirmNameAlt = "">
    </#if> -->
    
</head>
<body class="design ${page.ID} ${page.sectionTop} ${page.section}"> 
	<div class="banner-wrap">
		<header class="header-page">
            <a href="/" class="brand"> 
                <span class="brand-text">Law Office of</span>
				<span class="firmname">Barbara J. Katzenberg, P.C.</span>
            </a>
            <div class="cta">
                <div class="cta-text">Get In Touch With An Experienced Lawyer:
                    <span class="cta-phone">508-471-3281</span>
                </div> 
            </div>
            <label for="show-menu" class="show-menu btn-nav-main btn-togglebox ">Show Menu</label>
   	 		<input type="checkbox" id="show-menu" role="button">
			<a href="/Contact.shtml" class="btn-contact"><span class="fa fa-map-marker"> </span> Contact</a>
            <nav id="menu" class="nav-main " data-bp="650" role="navigation">
                <ul>
                    <li>
                        <a href="javascript:void(0)">Home</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Firm Overview</a> 
                    </li>
                    <li>
                        <a href="javascript:void(0)">Practice Areas</a> 
                    </li>
                    <li>
                        <a href="javascript:void(0)">Testimonials</a>
                    </li>
                    <li><a href="javascript:void(0)">Success Stories</a></li>
                    <li class="itemLast last-child">
                        <a href="javascript:void(0)">Contact</a>
                    </li>
                </ul>
            </nav>
        </header> 
        <div class="banner-container">	  
			 <div class="tagline">
			 	A Brighter Future Is <br/>
			 	Within Your Reach
			 </div> 
		</div>
	</div> 
	<div class="container-page-wrap">
		<div class="container-columns">
			<div class="container-column-main">
				<div class="column-main"> 
					<h1 class="page-title">Family Law services for out-of-state clients</h1>
					<article class="content">
						<p>
							This text is temporary. Your approved content draft will be integrated into your design. This is merely to show you what your content area will look like after the development of your web site. 
						</p>
						<p>
							A FindLaw <a href="javascript:void(0)">FirmSite®</a> is a legal Web site designed and built by FindLaw and is the difference between simply having a Web site and having a Web site that gets great results. A FirmSite delivers a unique combination of dynamic design, compelling content and targeted traffic. <a href="javascript:void(0)">Link Color</a> <a href="javascript:void(0)">Hover Color</a> Active Color <a href="javascript:void(0)">Visited Color</a>
						</p>
						<h2>This is the Header Two (H2) Subhead Style</h2>
						<ul>
							<li>An attorney site built by people who know the legal industry</li>
							<li>An award-winning Web site design team</li>
							<li>Integrated online marketing to increase traffic</li>
							<li>Valuable content options to save time and money</li>
						</ul>
						<h3>This is the Header Three (H3) Subhead Style</h3>
						<p>
							Not all law firm Web sites are created equal. While many Web sites for lawyers reside passively on the Internet, FirmSites have been extremely successful in winning more new clients.
						</p>
						<p class="callout">
							Why are we successful at growing law firms on the Web? In essence, FirmSites excel in these areas:   
						</p>
						<p>
							FirmSites consistently appear to the right people at the right time — while they are actively searching the Internet for your type of legal help in your law firm’s geographic area. High visibility simply means you get more and better traffic.
						</p>
					</article>
				</div>
			</div>
			<div class="column-side">
				<nav id="nav-practice" class="nav-practice" data-bp="650" role="navigation">
                    <h4 class="title-practice">
                        <span>Our Practice Areas</span>
                    </h4>
                    <ul class="accordion">
                        <li>
                            <a class="toggle" href="javascript:void(0)">Family Law</a>
                            <ul class="inner">	
                          		<li><a href="javascript:void(0)">Family Law Appeals</a></li>
                          		<li><a href="javascript:void(0)">Family Law Services For Out-Of-State Clients</a></li>
                          		<li><a href="javascript:void(0)">Nonmarital Family Law Matters</a></li>
                          		<li><a href="javascript:void(0)">Nontraditional Family Matters</a></li>
                          	</ul>  
                        </li>
                        <li>
                            <a href="javascript:void(0)">Divorce</a>  
                        </li>
                        <li>
                            <a href="javascript:void(0)">Child Custody</a>  
                        </li>
                        <li>
                            <a href="javascript:void(0)">Child Support &amp; Alimony</a>
                        </li>
                        <li>
                        	<a href="javascript:void(0)">Division Of Marital Property </a>
                        </li>
                     	<li class="last-child">
                            <a href="javascript:void(0)">Mediation</a>
                        </li> 
                    </ul>
                </nav> 
            	<ul class="badges">
            		<li><img src="../../design/images/badge1.jpg" alt=""></li>
            		<li><img src="../../design/images/badge2.jpg" alt=""></li>
            		<li><img src="../../design/images/badge3.jpg" alt=""></li>
            	</ul> 
			</div>
		</div>
	</div>
	<!-- Short Form starts -->
	<div class="short-form-wrap">
		<div class="short-form-container">
			<div class="short-form">
				<h4 class="title-short-form">I have been helping people resolve difficult family law matters for more than 25 years. I can help you.</h4>
				<span class="cta-short_form">Call 508-471-3281</span>
				<p><strong>Bold </strong>labels are required.</p>
				<form>
					<input type="text" name="Name" placeholder="Name"  required/>
					<input type="number" name="Phone" placeholder="Phone"  required/>
					<input type="Email" name="Email" placeholder="Email Address"  required/>
					<textarea type="text" name="description" placeholder="Brief description of your legal issue"></textarea>
					<div class="formCheck">
						<input type="checkbox" value="" required>I have read the <a href="javascript:void()"><strong>disclaimer</strong></a>. <a href="javascript:void()">Privacy Policy</a>
					</div>
					<button name="Submit" value="Submit" class="submit" type="submit" id="intakeFormShortAutofillSubmit">Are You Ready To Talk?</button>
				</form>
			</div>
		</div>
	</div>
	<div class="contact-info-wrap">
		<div class="contact-info-container">
			<div class="contact-info-left">
				<div class="contact-info">
					<div class="offices" id="offices" itemref="attorneyProfile attorney-list">
					    <div class="office office-1 office-odd office-first office-last office-chicago">
					        <p>
					            <strong class="office-title">Law Office of Barbara J. Katzenberg, P.C.</strong>
					            <br/>
					            <span class="office-address">
					                <span class="office-street-address"> 390 Main Street
					                    <br/> Suite 750
					                    <br/>
					                </span>
					                <span class="office-locality">Worcester</span>, 
					                <span class="office-region">MA</span>
					                <span class="office-postal-code">01608</span>
					            </span>
					            <br/>
					            <span class="office-phone office-phone-local office-phone-tracking">
					                <span class="office-phone-label">Phone</span>: 
					                <span class="office-phone-number" data-raw-number="3129850930">508-471-3281</span>
					                <br/>
					            </span>
					            <span class="office-phone office-phone-local">
					                <span class="office-phone-label">Fax</span>: 
					                <span class="office-phone-number" itemprop="faxNumber">508-792-0832</span>
					                <br/>
					            </span>
					            <a class="office-page-link office-page-page" href="javascript:void(0);" target="_self">Map &amp; Directions</a>
					        </p>
					    </div>
					</div>
				</div>
			</div>
		</div>
	</div>	
	<!-- Short Form starts --> 
	<!-- footer starts -->
	<div class="footer-page-wrap">
		<footer class="footer-page-container">
			<div class="footer-page-left">
				<section class="fine-print clearfix">
					<p class="copyright">© 2019
						<a href="javascript:void(0);" target="_blank">Law Office of Barbara J. Katzenberg, P.C</a>. All rights reserved. 
						<a href="javascript:void(0);">Disclaimer</a> | 
						<a href="javascript:void(0);">Site Map</a>
					</p>
					<p class="branding">
						<a href="javascript:void(0);">Privacy Policy</a> | <a href="javascript:void(0);">Law Firm Internet Marketing®</a> by <a target="_blank" href="javascript:void(0);">FindLaw</a>, a Thomson Reuters Business.  
					</p>
				</section>
			</div>
			<div class="footer-page-right">  
				<a href="javascript:void(0);" target="_blank" class="review-us">Review Us</a>		 
				<a href="javascript:void(0);" class="back-to-top"><span class="fa fa-arrow-up" aria-hidden="true"></span></a>
			</div>
		</footer>
	</div>  
	<!-- footer ends -->
	<!--[if lt IE 9]>
		<script src="http://c621ndxflappf.int.thomsonreuters.com:8034/includes/scripts/respond-1.1.0.js"></script>
	<![endif]-->
	<script>var highlightOptions = { pageID: '${page.ID}', pageSection: '${page.section}', pageSectionTop: '${page.sectionTop}' }</script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<script>
		$('.toggle').click(function(e) {
		  	// e.preventDefault();
		  
		    var $this = $(this);
		  
		    if ($this.next().hasClass('show')) {
		        $this.next().removeClass('show');
		        $this.next().slideUp(350);

		    } else {
		        $this.parent().parent().find('li .inner').removeClass('show');
		        $this.parent().parent().find('li .inner').slideUp(350);
		        $this.next().toggleClass('show');
		        // $this.next().slideToggle(350);
		    }
		});
		$("a.back-to-top").click(function(){return $("body,html").animate({scrollTop:0},800),!1})
	</script>
	<script src="http://c621ndxflappf.int.thomsonreuters.com:8034/includes/scripts/flDefault-1.0.0.js"></script>
	<script src="../scripts/flScripts-1.0.1.js"></script>
	<script src="../scripts/init.js"></script>
	<script src="http://c621ndxflappf.int.thomsonreuters.com:8034/includes/autolink-phone.js"></script>
</body>
</html>