<!DOCTYPE html>
<!--[if lte IE 7]><html id="ie" class="no-js lt-ie10 lt-ie9 lt-ie8" lang="en" xmlns="http://www.w3.org/1999/xhtml"><![endif]-->
<!--[if IE 8]><html id="ie8" class="no-js lt-ie10 lt-ie9" lang="en" xmlns="http://www.w3.org/1999/xhtml"><![endif]-->
<!--[if IE 9]><html id="ie9" class="no-js lt-ie10" lang="en" xmlns="http://www.w3.org/1999/xhtml"><![endif]-->
<!--[if gt IE 9]><!--><html lang="en" class="no-js" xmlns="http://www.w3.org/1999/xhtml"><!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<link rel="dns-prefetch" href="//ajax.googleapis.com">
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta name="format-detection" content="telephone=no"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="../css/site.css" />
	<link rel="icon" href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII="/>
	<link rel="apple-touch-icon" href="/design/images/apple-touch-icon.png"/>
	<link href="https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre|Raleway" rel="stylesheet">
	<!--[if lt IE 9]>
		<script src="http://c621ndxflappf.int.thomsonreuters.com:8034/includes/scripts/html5Shiv-3.6.2.js"></script>
	<![endif]-->
	<!-- <#assign SEMFirmNameAlt = " - ${site.data.SEMFirmNameAlt}">
    <#if site.data.SEMFirmNameAlt = "">
        <#assign SEMFirmNameAlt = "">
    </#if> -->
    
</head>
<body class="design home ${page.ID} ${page.sectionTop} ${page.section}"> 
	<div class="banner-wrap">
		<header class="header-page">
            <a href="/" class="brand"> 
                <span class="brand-text">Law Office of</span>
				<span class="firmname">Barbara J. Katzenberg, P.C.</span>
            </a>
            <div class="cta">
                <div class="cta-text">Get In Touch With An Experienced Lawyer:
                    <strong>508-471-3281</strong>
                </div> 
            </div>
            <label for="show-menu" class="show-menu btn-nav-main btn-togglebox ">Show Menu</label>
   	 		<input type="checkbox" id="show-menu" role="button">

            <!-- <a href="javascript:void(0)" class="btn-nav-main btn-togglebox btn-mobile" data-target="nav-main">
                <span class="fa fa-bars toggle-menu" aria-hidden="true"> </span> Menu
            </a> --> 
            <a href="/Contact.shtml" class="btn-contact btn-mobile">
                <span class="fa fa-map-marker" aria-hidden="true"> </span>Contact
            </a>
            <nav id="menu" class="nav-main" data-bp="650" role="navigation">
                <ul>
                    <li>
                        <a href="javascript:void(0)">Home</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Firm Overview</a> 
                    </li>
                    <li>
                        <a href="javascript:void(0)">Practice Areas</a> 
                    </li>
                    <li>
                        <a href="javascript:void(0)">Testimonials</a>
                    </li>
                    <li><a href="javascript:void(0)">Success Stories</a></li>
                    <li class="itemLast last-child">
                        <a href="javascript:void(0)">Contact</a>
                    </li>
                </ul>
            </nav>
        </header> 
        <div class="banner-container">	  
			 <div class="tagline">
			 	A Brighter Future Is <br/>
			 	Within Your Reach
			 	<a href="javascript:void()" class="banner-btn"> Are You Ready To Talk?</a>
			 </div> 
		</div>
	</div>   
	<div class="primary-wrap">
		<div class="primary-container">
			<div class="section content">
				<h1 class="page-title">Decades Of Family Law Experience</h1>
				<div class="content-0">
				    <p>I am Barbara J. Katzenberg, Attorney at Law. I understand the challenges and difficulties people face when divorce, child custody or other family law matters arise. While these are very personal issues, no one should face them without skilled guidance and an experienced advocate by their side. I began practicing family law in 1990 and I have seen firsthand the toll these matters can take. Those decades of experience also have taught me how to create effective resolutions that leave people well-positioned for a brighter future.</p>
				</div>
			</div> 
		</div>
	</div>
	<div class="practice-wrap">
		<div class="practice-container">
			<h2>My Practice Areas</h2>
			<nav id="nav-practice" class="nav-practice-home" role="navigation">
				 <ul>
				 	<li>
				 		<a class="family" href="javascript:void()">
				 			<span class="heading">Family Law</span>
				 			<span class="learn-more">Learn More</span>
				 		</a>
				 	</li>
				 	<li>
			 			<a class="divorce" href="javascript:void()">
			 				<span class="heading">Divorce</span>
				 			<span class="learn-more">Learn More</span>
			 			</a>
				 	</li>
				 	<li>
			 			<a class="mediation" href="javascript:void()">
			 				<span class="heading">Mediation</span>
				 			<span class="learn-more">Learn More</span>
			 			</a>
				 	</li>
				 	<li>
			 			<a class="child-custody" href="javascript:void()">
			 				<span class="heading">Child Custody</span>
				 			<span class="learn-more">Learn More</span>
			 			</a>
				 	</li>
				 	<li>
			 			<a class="alimony" href="javascript:void()">
			 				<span class="heading">Child Support <br/>& Alimony</span>
				 			<span class="learn-more">Learn More</span>
			 			</a>
				 	</li>
				 	<li>
			 			<a class="marital" href="javascript:void()">
			 				<span class="heading">Division of <br/>Marital Property</span>
				 			<span class="learn-more">Learn More</span>
			 			</a>
				 	</li>
				 </ul>
			</nav>
		</div>
	</div>
	<div class="secondary-wrap">
		<div class="secondary-container">
			<div class="section-left ">
				<img src="../images/attr-img.jpg" alt="">
			</div> 
			<div class="section-right content">
				 <h2>I Am Here For You</h2>
				 <p>I have devoted my career to the practice of family law. I believe that most people facing these types of issues are going through enough already and will be best helped by a more personal touch and commitment. I work to get to know all of my clients and what their hopes for the future are. This allows me to understand what future they want to build and what approach may be best to achieve it. </p>
			</div>
		</div>
	</div>
	<div class="third-wrap">
		<div class="third-container">
			<div class="section-left content">
				<h2>Begin Your Journey Today</h1>
				<div class="content-0">
				    <p>No matter what type of family law issue you are facing, I am here to help. Turn to Barbara J. Katzenberg, Attorney at Law. For a free initial consultation, call 508-471-3281 or contact my office online.</p>
				</div>
			</div> 
			<div class="section-right">
				<ul class="badges">
            		<li><img src="../../design/images/badge1.jpg" alt=""></li>
            		<li><img src="../../design/images/badge2.jpg" alt=""></li>
            		<li><img src="../../design/images/badge3.jpg" alt=""></li>
            	</ul>
			</div>
		</div>
	</div>
	<!-- Short Form starts -->
	<div class="short-form-wrap">
		<div class="short-form-container">
			<div class="short-form">
				<h4 class="title-short-form">I have been helping people resolve difficult family law matters for more than 25 years. I can help you.</h4>
				<span class="cta-short_form">Call 508-471-3281</span>
				<p><strong>Bold </strong>labels are required.</p>
				<form>
					<input type="text" name="Name" placeholder="Name"  required/>
					<input type="number" name="Phone" placeholder="Phone"  required/>
					<input type="Email" name="Email" placeholder="Email Address"  required/>
					<textarea type="text" name="description" placeholder="Brief description of your legal issue"></textarea>
					<div class="formCheck">
						<input type="checkbox" value="" required>I have read the <a href="javascript:void()"><strong>disclaimer</strong></a>. <a href="javascript:void()">Privacy Policy</a>
					</div>
					<button name="Submit" value="Submit" class="submit" type="submit" id="intakeFormShortAutofillSubmit">Are You Ready To Talk?</button>
				</form>
			</div>
		</div>
	</div>
	<div class="contact-info-wrap">
		<div class="contact-info-container">
			<div class="contact-info-left">
				<div class="contact-info">
					<div class="offices" id="offices" itemref="attorneyProfile attorney-list">
					    <div class="office office-1 office-odd office-first office-last office-chicago">
					        <p>
					            <strong class="office-title">Law Office of Barbara J. Katzenberg, P.C.</strong>
					            <br/>
					            <span class="office-address">
					                <span class="office-street-address"> 390 Main Street
					                    <br/> Suite 750
					                    <br/>
					                </span>
					                <span class="office-locality">Worcester</span>, 
					                <span class="office-region">MA</span>
					                <span class="office-postal-code">01608</span>
					            </span>
					            <br/>
					            <span class="office-phone office-phone-local office-phone-tracking">
					                <span class="office-phone-label">Phone</span>: 
					                <span class="office-phone-number" data-raw-number="3129850930">508-471-3281</span>
					                <br/>
					            </span>
					            <span class="office-phone office-phone-local">
					                <span class="office-phone-label">Fax</span>: 
					                <span class="office-phone-number" itemprop="faxNumber">508-792-0832</span>
					                <br/>
					            </span>
					            <a class="office-page-link office-page-page" href="javascript:void(0);" target="_self">Map &amp; Directions</a>
					        </p>
					    </div>
					</div>
				</div>
			</div>
		</div>
	</div>	
	<!-- Short Form starts --> 
	<!-- footer starts -->
	<div class="footer-page-wrap">
		<footer class="footer-page-container">
			<div class="footer-page-left">
				<section class="fine-print clearfix">
					<p class="copyright">© 2019
						<a href="javascript:void(0);" target="_blank">Law Office of Barbara J. Katzenberg, P.C</a>. All rights reserved. 
						<a href="javascript:void(0);">Disclaimer</a> | 
						<a href="javascript:void(0);">Site Map</a>
					</p>
					<p class="branding">
						<a href="javascript:void(0);">Privacy Policy</a> | <a href="javascript:void(0);">Law Firm Internet Marketing®</a> by <a target="_blank" href="javascript:void(0);">FindLaw</a>, a Thomson Reuters Business.  
					</p>
				</section>
			</div>
			<div class="footer-page-right">  
				<a href="javascript:void(0);" target="_blank" class="review-us">Review Us</a>		 
				<a href="javascript:void(0);" class="back-to-top"><span class="fa fa-arrow-up" aria-hidden="true"></span></a>
			</div>
		</footer>
	</div>  
	<!-- footer ends -->
	<!--[if lt IE 9]>
		<script src="http://c621ndxflappf.int.thomsonreuters.com:8034/includes/scripts/respond-1.1.0.js"></script>
	<![endif]-->
	<script>var highlightOptions = { pageID: '${page.ID}', pageSection: '${page.section}', pageSectionTop: '${page.sectionTop}' }</script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<script>
		$('.toggle').click(function(e) {
		  	// e.preventDefault();
		  
		    var $this = $(this);
		  
		    if ($this.next().hasClass('show')) {
		        $this.next().removeClass('show');
		        $this.next().slideUp(350);

		    } else {
		        $this.parent().parent().find('li .inner').removeClass('show');
		        $this.parent().parent().find('li .inner').slideUp(350);
		        $this.next().toggleClass('show');
		        // $this.next().slideToggle(350);
		    }
		});
		$(document).ready(function(){
		  $(".toggle-menu").click(function(){
		    $(".nav-main").toggle();
		  });
		});
		$("a.back-to-top").click(function(){return $("body,html").animate({scrollTop:0},800),!1})
	</script>
	<!-- <script src="http://c621ndxflappf.int.thomsonreuters.com:8034/includes/scripts/flDefault-1.0.0.js"></script> -->
	<!-- <script src="../scripts/flScripts-1.0.1.js"></script> -->
	<script src="../scripts/init.js"></script>
	<!-- <script src="http://c621ndxflappf.int.thomsonreuters.com:8034/includes/autolink-phone.js"></script> -->
</body>
</html>